@font-face {
	font-family: 'UA Squared';
	src: url('../fonts/UASquared.eot');
	src: url('../fonts/UASquared.eot?#iefix') format('embedded-opentype'),
		url('../fonts/UASquared.woff') format('woff'),
		url('../fonts/UASquared.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


.menu {
    background-color: #1bc0f3;
}

a {
    font-family: 'UA Squared';
    color: white;
    font-size: 150%;
}

#link {
    color: #1bc0f3;
}

h4 {
    font-family: 'UA Squared';    
}

label {
    font-family: 'UA Squared';
}

button {
    font-family: 'UA Squared';
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 30px;
  transition: background 0.2s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background-color: #fff;
  border-radius: 30px;
  transition: background 0.2s;
}
input.cmn-toggle-round-flat + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 26px;
  background-color: #dddddd;
  border-radius: 26px;
  transition: margin 0.2s, background 0.2s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #1bc0f3;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 30px;
  background-color: #1bc0f3;
}

* {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

h1 {
	margin: 1em 0;
	text-align: center;
}

#container {
    margin: 0 auto;
    width: 100%;
}

#container input {
	height: 2.5em;
	visibility: hidden;
}

#container label#tab {
	background: #f1f1f1;
	border-radius: .25em .25em 0 0;
	color: black;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1em;
	height: 2.5em;
	line-height: 2.5em;
	margin-right: .25em;
	padding: 0 1.5em;
	text-align: center;
}

#container input:hover + label#tab {
	background: #ddd;  /* Fondo de las pesta単as al pasar el cursor por encima */
	color: #666;  /* Color del texto de las pesta単as al pasar el cursor por encima */
}

#container input:checked + label#tab {
	background: #1bc0f3;  /* Fondo de las pesta単as al presionar */
	color: white; /* Color de las pesta単as al presionar */
	position: relative;
	z-index: 6;
}

#content {
	border-radius: 0 .25em .25em .25em;
	min-height: 20em;
	position: relative;
	width: 100%;
  height: 100%;
	z-index: 5;
}

#content div {
	opacity: 0;
	padding: 1.5em;
	position: absolute;
	z-index: -100;
}

#content-1 p {
	clear: both;
	margin-bottom: 1em;
}
#content-1 p.left img {
	float: left;
	margin-right: 1em;
}
#content-1 p.last {
	margin-bottom: 0;
}

#content-2 p {
	float: left;
	width: 48.5%;
}
#content-2 p.column-right {
	margin-left: 3%;
}
#content-2 p img {
	display: block;
	margin: 0 auto 1em auto;
}
#content-3 p,
#content-3 ul {
	margin-bottom: 1em;
}
#content-3 ul {
	margin-left: 2em;
}

#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2,
#container input#tab-3:checked ~ #content #content-3,
#container input#tab-4:checked ~ #content #content-4,
#container input#tab-5:checked ~ #content #content-5 {
    opacity: 1;
    z-index: 100;
}

input.visible {
  visibility: visible !important;
}

#content input {
  visibility: visible;  
  width: 500px;
}

.select-style select {   
    width: 70%;
}

.select-style select:focus {
    outline: none;
}