<!-- CONTEUDO -->
<div class="row">
    <div class="large-8 medium-8 columns">
        <h4><span class="title">Config</span></h4>

        <div id="container">

            <input id="tab-1" type="radio" name="tab-group" checked="checked" />
            <label for="tab-1">Sensor</label>

            <input id="tab-2" type="radio" name="tab-group" />
            <label for="tab-2">Relê</label>

            <input id="tab-3" type="radio" name="tab-group" />
            <label for="tab-3">Arduino</label>

            <input id="tab-4" type="radio" name="tab-group" />
            <label for="tab-4">Aplicativo</label>

            <input id="tab-5" type="radio" name="tab-group" />
            <label for="tab-5">Usuario</label>

            <div id="content">

                <div id="content-1">
                    <input type="text" placeholder="Sensor Temperatura">
                    <input type="text" placeholder="Descrição Sensor Temperatura">

                    <input type="text" placeholder="Sensor Umidade">
                    <input type="text" placeholder="Descrição Sensor Umidade">

                    <input type="text" placeholder="Sensor Luminosidade">
                    <input type="text" placeholder="Descrição Sensor Luminosidade">

                    <input type="text" placeholder="Sensor Presença">
                    <input type="text" placeholder="Descrição Sensor presença">


                    <button type="button" class="success button">Salvar</button>
                    <button type="button" class="warning button">Limpar</button>
                </div>

                <div id="content-2">
                    <input type="text" placeholder="Nome">
                    <input type="text" placeholder="Descrição">
                    <button type="button" class="success button">Salvar</button>
                    <button type="button" class="warning button">Limpar</button>
                </div>

                <div id="content-3">
                    <input type="text" placeholder="IP">
                    <input type="text" placeholder="MAC">
                    <input type="text" placeholder="Gateway">
                    <input type="text" placeholder="Mask">
                    <input type="text" placeholder="Port">
                    <input type="text" placeholder="Pino temperatura e umidade">
                    <input type="text" placeholder="Pino luminosidade">
                    <input type="text" placeholder="Pino presença">
                    <input type="text" placeholder="Pino Rele 1">
                    <input type="text" placeholder="Pino Rele 2">
                    <input type="text" placeholder="Pino Rele 3">
                    <input type="text" placeholder="Pino Rele 4">
                    <button type="button" class="success button">Salvar</button>
                    <button type="button" class="warning button">Limpar</button>
                </div>

                <div id="content-4">
                    <input type="text" placeholder="Nome smartphone">
                    <input type="text" placeholder="MAC">
                    <button type="button" class="success button">Salvar</button>
                    <button type="button" class="warning button">Limpar</button>
                </div>

                <div id="content-5">
                    <input type="text" placeholder="Nome">
                    <input type="text" placeholder="Login">
                    <input type="text" placeholder="Senha">                    
                    <button type="button" class="success button">Salvar</button>
                    <button type="button" class="warning button">Limpar</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- CONTEUDO fim -->