<!-- CONTEUDO -->
<div class="row">
    <div class="large-8 medium-8 columns">
        <h4><span class="title">Config</span></h4>

        <div id="container">

            <input id="tab-1" type="radio" name="tab-group" checked="checked" />
            <label id="tab" for="tab-1">Sensor</label>

            <input id="tab-2" type="radio" name="tab-group" />
            <label id="tab" for="tab-2">Relê</label>

            <input id="tab-3" type="radio" name="tab-group" />
            <label id="tab" for="tab-3">Arduino</label>

            <input id="tab-4" type="radio" name="tab-group" />
            <label id="tab" for="tab-4">Aplicativo</label>

            <input id="tab-5" type="radio" name="tab-group" />
            <label id="tab" for="tab-5">Usuario</label>

            <div id="content">

                <div id="content-1">
                    <label>Nome Sensor Temperatura
                        <input type="text" placeholder="Sensor Temperatura" id="inpSensorTempNome" ng-model="vmconfig.sensorTempNome">
                    </label>
                    <label>Descrição Sensor Temperatura
                        <input type="text" placeholder="Descrição Sensor Temperatura" id="inpSensorTempDescricao" ng-model="vmconfig.sensorTempDescricao">
                    </label>
                    <label>Nome Sensor Umidade
                        <input type="text" placeholder="Sensor Umidade" id="inpSensorUmiNome" ng-model="vmconfig.sensorUmiNome">
                    </label>
                    <label>Descrição Sensor Umidade
                        <input type="text" placeholder="Descrição Sensor Umidade" id="inpSensorUmiDescricao" ng-model="vmconfig.sensorUmiDescricao">
                    </label>
                    <label>Nome Sensor Luminosidade
                        <input type="text" placeholder="Sensor Luminosidade" id="inpSensorLumiNome" ng-model="vmconfig.sensorLumiNome">
                    </label>
                    <label>Descrição Sensor Luminosidade
                        <input type="text" placeholder="Descrição Sensor Luminosidade" id="inpSensorLumiDescricao" ng-model="vmconfig.sensorLumiDescricao">
                    </label>
                    <label>Nome Sensor Presença
                        <input type="text" placeholder="Sensor Presença" id="inpSensorPresencaNome" ng-model="vmconfig.sensorPresencaNome">
                    </label>
                    <label>Descrição Sensor Presença
                        <input type="text" placeholder="Descrição Sensor presença" id="inpSensorPresencaDescricao" ng-model="vmconfig.sensorPresencaDescricao">
                    </label>


                    <button type="button" class="success button" ng-click="vmconfig.submitSensor()">Salvar</button>
                    <button type="button" class="warning button" ng-click="vmconfig.limparSensor()">Limpar</button>
                </div>

                <div id="content-2">
                    <label>Nome Rele 1
                        <input type="text" placeholder="Nome" id="inpRele1Nome" ng-model="vmconfig.rele1Nome">
                    </label>
                    <label>Descrição Rele 1                            
                        <input type="text" placeholder="Descrição" id="inpRele1Descricao" ng-model="vmconfig.rele1Descricao">
                    </label>
                    <label>Porta Rele 1                            
                        <input type="text" placeholder="Porta" id="inpRele1Porta" ng-model="vmconfig.rele1Porta">
                    </label>
                    <label>Nome Rele 2
                        <input type="text" placeholder="Nome" id="inpRele2Nome" ng-model="vmconfig.rele2Nome">
                    </label>
                    <label>Descrição Rele 2                            
                        <input type="text" placeholder="Descrição" id="inpRele2Descricao" ng-model="vmconfig.rele2Descricao">
                    </label>
                    <label>Porta Rele 2                            
                        <input type="text" placeholder="Porta" id="inpRele2Porta" ng-model="vmconfig.rele2Porta">
                    </label>
                    <label>Nome Rele 3
                        <input type="text" placeholder="Nome" id="inpRele3Nome" ng-model="vmconfig.rele3Nome">
                    </label>
                    <label>Descrição Rele 3                            
                        <input type="text" placeholder="Descrição" id="inpRele3Descricao" ng-model="vmconfig.rele3Descricao">
                    </label>
                    <label>Porta Rele 3                            
                        <input type="text" placeholder="Porta" id="inpRele3Porta" ng-model="vmconfig.rele3Porta">
                    </label>
                    <label>Nome Rele 4
                        <input type="text" placeholder="Nome" id="inpRele4Nome" ng-model="vmconfig.rele4Nome">
                    </label>
                    <label>Descrição Rele 4                            
                        <input type="text" placeholder="Descrição" id="inpRele4Descricao" ng-model="vmconfig.rele4Descricao">
                    </label>
                    <label>Porta Rele 4                            
                        <input type="text" placeholder="Porta" id="inpRele4Porta" ng-model="vmconfig.rele4Porta">
                    </label>
                    <button type="button" class="success button" ng-click="vmconfig.submitRele()">Salvar</button>
                    <button type="button" class="warning button" ng-click="vmconfig.limparRele()">Limpar</button>
                </div>

                <div id="content-3">
                    <label id="form">IP
                        <input type="text" placeholder="IP" id="inpArduinoIP" ng-model="vmconfig.arduinoIP">
                    </label>
                    <label id="form">MAC
                        <input type="text" placeholder="MAC" id="inpArduinoMAC" ng-model="vmconfig.arduinoMAC">
                    </label>
                    <label id="form">Gateway
                        <input type="text" placeholder="Gateway" id="inpArduinoGateway" ng-model="vmconfig.arduinoGateway">
                    </label>
                    <label id="form">Mask
                        <input type="text" placeholder="Mask" id="inpArduinoMask" ng-model="vmconfig.arduinoMask">
                    </label>
                    <label id="form">Porta
                        <input type="text" placeholder="Port" id="inpArduinoPorta" ng-model="vmconfig.arduinoPorta">
                    </label>
                    <label id="form">Pino temperatura e umidade
                        <input type="text" placeholder="Pino temperatura e umidade" id="inpArduinoPinTempUmi" ng-model="vmconfig.arduinoPinTempUmi">
                    </label>
                    <label id="form">Pino luminosidade
                        <input type="text" placeholder="Pino luminosidade" id="inpArduinoPinLumi" ng-model="vmconfig.arduinoPinLumi">
                    </label>
                    <label id="form">Pino presença
                        <input type="text" placeholder="Pino presença" id="inpArduinoPinPresenca" ng-model="vmconfig.arduinoPinPresenca">
                    </label>
                    <label id="form">Pino Rele 1
                        <input type="text" placeholder="Pino Rele 1" id="inpArduinoPinRele1" ng-model="vmconfig.arduinoPinRele1">
                    </label>
                    <label id="form">Pino Rele 2
                        <input type="text" placeholder="Pino Rele 2" id="inpArduinoPinRele2" ng-model="vmconfig.arduinoPinRele2">
                    </label>
                    <label id="form">Pino Rele 3
                        <input type="text" placeholder="Pino Rele 3" id="inpArduinoPinRele3" ng-model="vmconfig.arduinoPinRele3">
                    </label>
                    <label id="form">Pino Rele 4
                        <input type="text" placeholder="Pino Rele 4" id="inpArduinoPinRele4" ng-model="vmconfig.arduinoPinRele4">
                    </label>
                    <button type="button" class="success button" ng-click="vmconfig.submitArduino()">Salvar</button>
                    <button type="button" class="warning button" ng-click="vmconfig.limparArduino()">Limpar</button>
                </div>

                <div id="content-4">
                    <label id="form">Nome
                        <input id="inpAppNome" type="text" placeholder="Nome smartphone" ng-model="vmconfig.appNome">
                    </label>
                    <label id="form">MAC
                        <input id="inpMAC" type="text" placeholder="MAC" ng-model="vmconfig.appMAC">
                    </label>
                    <button type="button" class="success button" ng-click="vmconfig.submitApp()">Salvar</button>
                    <button type="button" class="warning button" ng-click="vmconfig.limparApp()">Limpar</button>
                </div>

                <div id="content-5">
                    <label id="form">Nome
                        <input id="inpNome" type="text" placeholder="Nome" maxlength="40" ng-model="vmconfig.userNome">
                    </label>
                    <label id="form">Login
                        <input id="inpLogin" type="text" placeholder="Login" maxlength="20" ng-model="vmconfig.userLogin">
                    </label>
                    <label id="form">Senha                
                        <input id="inpSenha" type="password" placeholder="Senha" maxlength="60" ng-model="vmconfig.userSenha">                    
                    </label>
                    <button type="button" class="success button" ng-click="vmconfig.submitUser()">Salvar</button>
                    <button type="button" class="warning button" ng-click="vmconfig.limparUser()">Limpar</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- CONTEUDO fim -->