<!-- CONTEUDO -->
<div class="row">
    <div class="large-8 medium-8 columns">
        <h4><span class="title">Log dos Relês</span></h4>

        <div class="select-style">
           
            <table id="logRele">
                <tr>
                    <th>Status</th>
                    <th>Data e Horario</th>
                    <th>Rele</th>
                </tr>
                <tr ng-repeat="x in rele">
                    <td>{{ x.valor }}</td>
                    <td>{{ x.DataHorario }}</td>
                    <td>{{ x.idRele }}</td>
                </tr>
            </table>

            <h5>Legenda:</h5>

            <ul id="legenda">
                <li>Status</li>
                <li>0 = desligado</li>
                <li>1 = ligado</li>
            </ul>

        </div>

    </div>
</div>
<!-- FIM CONTEUDO -->