<!-- CONTEUDO -->
<div class="row">
    <div class="large-8 medium-8 columns">
        <h4><span class="title">Log</span></h4>

        <div class="select-style">
            <select>
                <option value="sensor">Sensores</option>
                <option value="rele" selected="selected">Relês</option>                
            </select>

            <table id="logRele">
                <tr>
                    <th>Status</th>
                    <th>Data e Horario</th>
                    <th>Rele</th>
                </tr>
                <tr ng-repeat="x in rele">
                    <td>{{ x.valor }}</td>
                    <td>{{ x.DataHorario }}</td>
                    <td>{{ x.idRele }}</td>
                </tr>
            </table>

        </div>

    </div>
</div>
<!-- FIM CONTEUDO -->