<!-- CONTEUDO -->
<div class="row">

    <h4><span class="title">Rele</span></h4>

    <div id="rele1">
        <p>Rele 1</p>
        <div class="switch">
            <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="cmn-toggle-1"></label>
        </div>
    </div>

    <div id="rele1">
        <p>Rele 2</p>
        <div class="switch">
            <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="cmn-toggle-2"></label>
        </div>
    </div>

    <div id="rele1">
        <p>Rele 3</p>
        <div class="switch">
            <input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="cmn-toggle-3"></label>
        </div>
    </div>

    <div id="rele1">
        <p>Rele 4</p>
        <div class="switch">
            <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="cmn-toggle-4"></label>
        </div>
    </div>

</div>
<!-- CONTEUDO fim -->