<!-- CONTEUDO -->
<div class="row"> 
    
    <div>
        <br>    
    </div>
    
    <div>
        <table>
          <thead>
            <tr>
              <th width="150">Sensor</th>
              <th width="150">Valor</th>
              <th width="150">Detalhes</th>              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Temperatura</td>
              <td></td>
              <td></td>
              
            </tr>
            <tr>
              <td>Umidade</td>
              <td></td>
              <td></td>
              
            </tr>
            <tr>
              <td>Luminosidade</td>
              <td></td>
              <td></td>
              
            </tr>
            <tr>
              <td>Presença</td>
              <td></td>
              <td></td>
              
            </tr>
          </tbody>
        </table>

    
    </div>
    
</div>
<!-- CONTEUDO fim -->