<!-- CONTEUDO -->
<div class="row"> 
    
    <div>
        <br>    
    </div>
    
    <div>
        <table>
          <thead>
            <tr>
              <th width="150">Sensor</th>
              <th width="150">Valor</th>                            
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Temperatura</td>
              <td>{{temperatura.valor}}°C</td>                           
            </tr>
            <tr>
              <td>Umidade</td>
              <td>{{umidade.valor}}%</td>                        
            </tr>
            <tr>
              <td>Luminosidade</td>
              <td>{{luminosidade.valor}}</td>                            
            </tr>
            <tr>
              <td>Presença</td>
              <td>{{presenca}}</td>                            
            </tr>
          </tbody>
        </table>
    
    </div>
    
</div>
<!-- CONTEUDO fim -->