<!-- CONTEUDO -->
<div class="row">
	<div class="large-8 medium-8 columns">
		<h4><span class="title">Login</span></h4>

		<form>
			<div class="row">
				<div class="medium-6 columns">
					<label>Nome
                        <input type="text" placeholder="nome" ng-model="vm.nome">
                    </label>
				</div>
				<div class="medium-6 columns">
					<label>Login
                        <input type="text" placeholder="login" ng-model="vm.login">
                    </label>
				</div>
				<div class="medium-6 columns">
					<label>Senha
                        <input type="password" placeholder="senha" ng-model="vm.senha">
                    </label>
				</div>
				<div class="medium-6 columns">
					<label>Confirmar Senha 
                        <input id="inpSenha" type="password" placeholder="confirmar senha" ng-model="vm.csenha">
                    </label>
				</div>
			</div>

			<button type="button" class="success button" ng-click="vm.submit()">Criar</button>
			<a class="alert button" ui-sref="login">Cancelar</a>

		</form>

	</div>
</div>
<!-- CONTEUDO fim -->