<!-- CONTEUDO -->
<div class="row">
	<div class="large-8 medium-8 columns">
		<h4><span class="title">Login</span></h4>

		<form>
			<div class="row">
				<div class="medium-6 columns">
					<label>Login
                        <input type="text" placeholder="login" ng-model="vm.login">
                    </label>
				</div>
				<div class="medium-6 columns">
					<label>Senha
                        <input id="inpSenha" type="password" placeholder="senha" ng-model="vm.senha">
                    </label>
				</div>
			</div>

			<button type="button" class="success button" ng-click="vm.submit()">Login</button>
			<a class="alert button" href="#/home">Cancelar</a>
			<a class="warning button" href="#/cadastro">Cadastre-se</a>

		</form>

	</div>
</div>
<!-- CONTEUDO fim -->